// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body{
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    background: $white;
    font-size: 14px;
    line-height: 25px;
    color: $secondary;

    .py-6 {
        padding: 4rem 0;
    }
    .py-7 {
        padding: 5.5rem 0;
    }
    .py-8 {
        padding: 6rem 0;
    }

    .pt-6 {
        padding-top: 4rem;
    }
    .pt-7 {
        padding-top: 5.5rem;
    }
    .pt-8 {
        padding-top: 6rem;
    }

    .pb-6 {
        padding-bottom: 4rem;
    }
    .pb-7 {
        padding-bottom: 5.5rem;
    }
    .pb-8 {
        padding-bottom: 6rem;
    }

    h1{
        color: $dark;
    }
    h2{
        color: $dark;
    }
    h3{
        color: $dark;
    }
    h4{
        color: $dark;
    }
    h5{
        color: $dark;
    }
    h6{
        color: $dark;
    }

    a{
        text-decoration: none !important;
    }
    a:hover{
        text-decoration: none !important;
    }

    button{
        border-radius: 0 !important; 
    }


    div{
        nav{
            section{
                p{
                    margin: 0 !important;
                    color: $white;
                }

                button{
                    border: inherit;
                    background-color: $primary;
                    padding: 2px 5px !important;
                    
                    &.tel-cagioli{
                        font-size: 12px !important;
                    }

                    a:hover{
                        color: $dark;
                    }
                }
            }
        }

        nav{
            div{
                button{
                    &.navbar-toggler{
                        border-color: rgba($color: #fff, $alpha: 0) !important;
                        color: rgba($color: #fff, $alpha: 0) !important;
                    }
                }
                button:focus{
                    outline: 5px auto $primary;
                }

                div{
                    ul{
                        li{
                            a{
                                color: $secondary !important;
                                position: sticky !important;

                                &::before{
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 5px;
                                    background: $primary;
                                    z-index: -1;
                                    transform: scale(0);
                                    transform-origin: right;
                                    transition: transform 0.5s;
                                }

                                &:hover::before{
                                    transform: scaleX(1);
                                }

                                &.nav-link:hover{
                                    color: $primary !important;
                                    display: inline-block !important;
                                }

                                &#urgenza{
                                    color: $red !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .top-space{
        margin-top: 100px; 
    }

    #carouselExampleIndicators{
        height: 350px;
        overflow: hidden;

        .carousel-indicators{
            li{
                height: 30px;
            }
        }

        .carousel-inner{
            div{
                &.car-img1{
                    background: url('../../img/carousel1.jpg');
                    @include carousel-image; 
                }

                &.car-img2{
                    background: url('../../img/carousel2.jpg');
                    @include carousel-image;  
                }

                &.car-img3{
                    background: url('../../img/carousel3.jpg');
                    @include carousel-image; 
                }

                &.car-img4{
                    background: url('../../img/carousel4.jpg');
                    @include carousel-image;  
                }
            }
        }
    }

    .card{
        box-shadow: 0px 0px 20px 5px $gray-200;
        border-radius: 0;
        border: inherit !important;

        .card-body{
            padding: 0;
            .card1{
                background-color: #ff954f;
                @include card-title-set;
            }
            .card2{
                background-color: #97d276;
                @include card-title-set;
            }
            .card3{
                background-color: #00bba6;
                @include card-title-set;
            }
        }

        .triangle1{
            @include triangle-set;
            background-color: #ff954f;
        }

        .triangle2{
            @include triangle-set;
            background-color: #97d276;
        }

        .triangle3{
            @include triangle-set;
            background-color: #00bba6;
        }

        p{
            padding: 20px;
        }
    }

    div{
        &.banner{
            height: 250px;
            background-position: center;
            background-repeat: no-repeat;  
            // background-image: url("../../img/banner-home.jpg") !important;
            background-color: #00bba6 !important;
    
            div{
                p{
                    color: $white;
                    font-size: 18px;
                }
                button{
                    background-color: $white;
                    
                    a{
                        color: $primary;
                    }
                    a:hover{
                        color: $white;
                    }
                }
                button:hover{
                    background-color: $primary;
                }
            }
        }
    }

    div{
        .card-img-top{
            border-radius: 100%;
            height: 150px;
            width: 150px;
        }

        div{
            .job{
                color: $primary;
                padding: 0;
            }
        }
    }

    .home-gallery{
        img{
            height: 300px;
            width: 300px;
        }
    }

    .btn-danger{
        a{
            color: $white;
        }

        a:hover{
            color: $dark; 
        }
    }

    footer{
        background-color: $primary;
        color: $white;

        div{
            div{
                div{
                    p{
                        a{
                            color: aquamarine;
                        }
                        a:hover{
                            color: $dark;
                        }
                    }
                }
            }
        }
    }

    .zoom {
        transition: transform 0.5s;
      }
      
      .zoom:hover {
        transform: scale(0.9);
    }

    .staff{

        p{
            &.cit{
                color: $gray-400;

                span{
                    font-size: 30px;
                }
            }
        }
        
    }

    //trattamenti
    .collapse{
        div{
            ul{
                list-style-type: none !important;
            }
        }
    }

    #accordionExample{
        div{
            div{
                a{
                   &.list-group-item-action:focus{
                        background-color: $primary !important;
                        color: $white !important;
                   }
                }
            }
        }
    }

    //contact-form
    .input-group{
        //border: 1px solid $primary !important;
        div{
            span{
                &.input-group-text{
                    ::placeholder{
                        color: $red !important;
                    }
                    @include form-set;
                }
            }

            label{
                &.input-group-text{
                    @include form-set;
                }
            }
        }

        input::placeholder{
            color: $gray-400 !important;
        }

        textarea{
            height: 200px; 
        }
        textarea::placeholder{
            color: $gray-400 !important;
        } 

        select{
            border-radius: 0;
            border: 1px solid $primary !important;
            color: $primary !important;
        }

        .form-control{
            border-radius: 0;
            border: 1px solid $primary !important;
            color: $primary !important;
        }
    }
}